{$DOMAIN} {
	handle {
		root * /app/frontend/dist
		try_files {path} /index.html
		encode gzip
		file_server
	}

	handle /api/* {
		reverse_proxy terraglamp:{$API_PORT}
	}
	redir /dbview /dbview/
	handle /dbview/* {
		reverse_proxy mongo-express:8081
		basicauth {
			admin {$DBVIEW_PASS}
		}
	}
	redir /terraglamp /terraglamp/
	handle_path /terraglamp/* {
		reverse_proxy terraglamp:{$API_PORT}
	}
}
